*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'Times New Roman', Times, serif;

}

.header h1{
  margin-right: 89%;
}
.header{
  width: 100%;
  line-height: 65px;
  background-color: #f5ba13;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  color: white;
  box-shadow: 5px 3px 15px -5px black;
}

.main_note{
  width: 500px;
  padding: 15px 10px 5px 10px;
  margin: 20px auto;
  
}
form{
  min-height: 50px;
  color: #ecf0f1;
  box-shadow: 3px 5px 15px -5px black;
  border-radius: 14px;
  position: relative;
}
.my_notes h1{
  color: #34495e;
}
.my_notes p{
  color: grey;
}
form{
  padding: 15px 10px 5px 10px;
}

textarea{
  width: 100%;
  line-height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  margin: 10px 0;
}

input{
  width: 100%;
  line-height: 30px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  margin: 10px 0px;
  font-weight: bold;
}

/* .MuiButton-root{
  width: 30px;
  height: 50px;
  position: absolute;
  bottom: -28px;
  left: 400px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 5px 5px 15px -5px black;
  border-radius: 50% !important;
}
.MuiButton-root .plus_sign{
  font-size: 45px !important;
  font-weight: 900;
  color: #f4b400;
  cursor: pointer;
  z-index: 222;
  background: transparent;
}
.MuiButton-root:hover{
  background-color: #f4b400;
}
.MuiButton-root:hover .plus_sign{
  color: black;
  background: transparent;
} */

.note{
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1{
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p{
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note .btn{
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f4b400;
  border: none;
  width: 16%;
  height: 25%;
  background: transparent;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 15px -10px black;
  border-radius: 50%;
}
.deleteIcon{
  width: 0.7em;
  height: 0.7em;
}

.note .btn:hover{
  background-color: #f5ba13;
}

.note .btn:hover .deleteIcon{
  color: #fff;
}

footer{
width: 100%;
position: absolute;
bottom: 0;

}
footer p{
  display: flex;
  justify-content: center;
  font-size: 19px;
}


.palette{
  width: 261px;
  height: 38px;
  border-radius: 10px;
  margin: 3px;
  padding: 3px;
  display: table;
  box-shadow: 3px 5px 15px -5px black;
  background-color: #ffffff;
  margin-top: 7px;
}

.palette .sample{
    width: 30px;
    height: 30px;
    margin: 3px;
    position: relative;
    border: 1px solid #DDD;
    float: left;
    transition: all 0.2s;
}



.allButtons{
  /* display: inline-block; */
  display: inline-block;
  border-radius: 50%;
  margin-right: 3px;
  transition: all .2s ease-in-out;
  
}

.allButtons:hover{
  background-color: rgb(233, 229, 229);
  transform: scale(1.1);
}
.colorBtn{
  width: 30px  !important;
  height: 27px !important;
  padding-top: 2px;
}
